body {
    font-style: Arial, Helvetica, sans-serif;
}

div {
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 100px; /*Altura*/
    width: 100px; /*Largura*/
}

div:hover {
    background-color: darkgray;
    border: 2px double black; 
}

